# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Flask specific
instance/
*.db

# IDEs
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Migrations
migrations/

# Jupyter Notebook
.ipynb_checkpoints/
